<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Car Recommendation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seating.css') }}">
</head>

<body>
    <h1>How many seats do you need?</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %} {% endwith %}

    <form method="POST" action="seating">
        <!-- <p style="display:inline-block" align="center"><img class="carseat" src="static/images/car_seat.png"><button>3-4</button></p>
        <p style="display:inline-block" align="center"><img class="carseat" src="static/images/car_seat.png"><button>6-8</button></p> -->
        <p align="center">
            <img class="carseat" src="static/images/car_seat.png">
            <input type="checkbox" value="2" name="seating_checkbox"> 2
        </p>
        <p align="center">
            <img class="carseat" src="static/images/car_seat.png">
            <input type="checkbox" value="3-5" name="seating_checkbox"> 3 - 5
        </p>
        <p align="center">
            <img class="carseat" src="static/images/car_seat.png">
            <input type="checkbox" value="6-8" name="seating_checkbox"> 6 - 8
        </p>
        <p align="center">
            <img class="carseat" src="static/images/car_seat.png">
            <input type="checkbox" value="8+" name="seating_checkbox"> 8+
        </p>
        <input type="submit" value="Next" href="drivetrain">
    </form>

</body>
<footer>
    <p style="display:inline-block">
        <a href="fuel"><button>Back</button></a> 
    </p>
</footer>