<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Car Recommendation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seating.css') }}">
</head>
<body>
    <h1>How many seats do you need?</h1>

    <p style="display:inline-block" align="center"><img class="carseat" src="static/images/car_seat.png"><button>3-4</button></p>
    <p style="display:inline-block" align="center"><img class="carseat" src="static/images/car_seat.png"><button>6-8</button></p>
    <p style="display:inline-block" align="center"><img class="carseat" src="static/images/car_seat.png"><button>8+</button></p>
    
</body>
<footer>
    <p style="display:inline-block;">
        <a href="start"><button>Back</button></a> 
        <a><button>Next</button></a>
    </p>
</footer>