<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Car Recommendation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>What fuel type are you looking for?</h1>

    <p align="center"><button>Gas/Fuel</button></p>
    <p align="center"><button>Hybrid</button></p>
    <p align="center"><button>Electric</button></p>

    <p style="display:inline-block">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
    </p>
    <p style="display:inline-block">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
    </p>
    <p style="display:inline-block">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
    </p>
</body>
<footer>
    <p align="left"><a href="home"><button>Back</button></a> <a href="seating"><button>Next</button></p></a>
</footer>